<!DOCTYPE html>
<html>
  <head>
    <title>Kistner's Flowers</title>
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="banner">
      <h1>Kistner's Flowers</h1>
      <br />
      <div id="motto">
        <h4>Serving you in times of celebration, sorrow & day to day life"</h4>
      </div>
      <nav id="navbar">
        <ul>
          <li>Weddings</li>
          <li>Funerals</li>
          <li>Sororities</li>
          <li>Birthdays</li>
          <li>Just Because!</li>
          <li>About Us</li>
        </ul>
      </nav>
    </div>
    <div id="card-field">
      <%=cards%>
    </div>
    <div id="footer">
      <ul>
        <li>1901 Pillsbury Dr. Manhattan, KS  66502</li>
        <li>(785) 776-7044</li>
        <li>(800) 532-3409</p></li>
      </ul>
    </div>
  </body>
</html>