<h1 class="title">Admin</h1>

<nav class="subnav">
    <a href="/" class="subnav">Home</a>
    <a href="/register-admin" class="subnav">Users</a>
    <a href="/arrangement-search" class="subnav">Update Arrangements</a>
    <a href="/arrangement-create" class="subnav">Create Arrangements</a>
    <a href="/update-password" class="subnav">Password</a>
</nav>