<h1>Search Arrangement</h1>
<form name="arrangement-search" method="POST">
    <table>
        <tr>
            <td>Arrangement ID</td>
            <td><input type="text" name="id" required></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save"></td>
        </tr>
    </table>
</form>
<br />
Click <a href="/">here</a> to return home.