<h1>Member Login</h1>
<form name="login" method="POST">
    <table>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" required></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" required></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save"></td>
        </tr>
    </table>
    <br />
    Not a member yet?
    <a href="/register">Register</a>
</form>