<h1>Update Password</h1>
<form name="update-password" method="POST">
    <table>
        <tr>
            <td>Email</td>
            <td><input type="text" name="email" required></td>
        </tr>
        <tr>
            <td>Old Password</td>
            <td><input type="password" name="password" required></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" name="newPassword" required></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save"></td>
        </tr>
    </table>
    <br />
    Click <a href="/admin">here</a> to return to the dashboard.
</form>